extends layout

block content
  header.header
    h1.headline= title
    h2.tagline See what people love on 
      a(href="sosh.com") Sosh

  section#categories
  section#activities
    h1.title The Most Bookmarked Everything
    section#activityGrid

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  != js('application.js')