/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
	background-color: #F2F0EF; /*#DCDCDC;*/
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	background-color: #3B96D8;
	padding: 40px 0 40px 0;
	text-align: center;
	width: 30%;
}

.headline {
	color: white;
	font-size: 65px;
	font-weight: 500;
	margin: 0 0 20px;
}

.title {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 55px;
	font-weight: 200;
	letter-spacing: 1px;
	text-align: center;
}

.tagline {
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 26px;
	font-weight: 300;
}

#categories {
	background-color: black;
	width: 30%;
}

.category {
	color: white;
	border-bottom: 1px solid #808080;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}

.categoryImage {
	border-radius: 35px;
	height: 50%;
	position: relative;
	right: 15px;
	vertical-align: middle;
	width: 25%;
}

.category a {
	display: block;
	padding: 20px;
}

.category a.active {
	color: #4885B0;
}

#activities {
	padding: 75px 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
}

#activityGrid {
	margin: 35px auto;
}






/*.circle {
	width: 40em;
	height: 40em;
	border: 1px solid red;
	border-radius: 50%;
	position: relative;
	left: 5em;
}

.circle a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
	margin: -2em;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}

.categoryImage {
	border-radius: 35px;
	height: 50%;
	position: relative;
	right: 15px;
	vertical-align: middle;
	width: 25%;
}

.deg0 { transform: translate(20em); }
.deg45 { transform: rotate(45deg) translate(20em) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(20em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(20em) rotate(-135deg); }
.deg180 { transform: translate(-20em); }
.deg225 { transform: rotate(225deg) translate(20em) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(20em) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(20em) rotate(-315deg); }*/
